<h1>Books#show</h1>

<%= link_to "プロフィール更新",edit_user_path(@user.id) %>

<%= form_with model:@book, url:"user_books_path", method: :post do |f| %>
<!--新しい投稿-->

<% if @book.user_id == current_user %>
  <%= link_to "削除", user_book_path(@book.id), method: :delete %>
  <%= link_to "投稿更新",edit_user_book_path(@book.id) %>
<% end %>